rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {

    function signedIn() {
      return request.auth != null;
    }

    function isAdmin() {
      return signedIn()
        && request.auth.token.email != null
        && get(/databases/$(database)/documents/config/admins).data.emails
             .hasAny([request.auth.token.email]);
    }

    match /config/{docId} {
      allow read: if signedIn();
      allow write: if isAdmin();
    }

    match /{document=**} {
      allow read, write: if isAdmin();
    }
  }
}
